# top-most EditorConfig file
root = true

# Unix-style newlines with UTF-8 encoding
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.yml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Vue single-file components
[*.vue]
indent_style = space
indent_size = 2

# Scripts
[*.js]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

# CSS, SCSS, LESS
[*.{css,scss,less}]
indent_style = space
indent_size = 2