@import '@/assets/fonts/Roboto/Roboto.css';
@import '@/assets/fonts/Calibri/Calibri.css';
@import 'tailwindcss';
@config "../tailwind.config.ts";

:root {
  --color-primary: rgba(0, 56, 168, 1);
  --color-primary-light: rgba(173, 216, 230, 1);
  --color-secondary: rgba(72, 149, 239, 1);
  --color-accent: rgba(0, 119, 255, 1);
  --color-background: rgba(245, 247, 250, 1);
  --color-text: rgba(34, 34, 34, 1);
  --font-sans: 'Roboto', sans-serif;
  --font-title: 'Calibri', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}
